*.o
*.a
*.so
*.dSYM/
accessor
array
arrays
class
constructor
crtp
cstdint
distance
float
fpexc
helloworld
helloworld[0-9]*
hellomain
hellomain_*
hellomain[0-9]*
list
map
nlimits
polymorphic
reference
signness
types
unordered_map
vector
